@font-face{
    font-family: "FinalFantasy_pixel";
    src: url('/static/resources/Reactor7.otf') format("truetype");
}

body {
    font-family: "FinalFantasy_pixel";
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

html, body{
    overflow: hidden; /* When not hidden, scrollbars appear during menu begginning animation */
}

a{  
    text-decoration: none;  /* Getting rid of anchor underline and making it only white not blue */
    color: white;
}

/*/////////////////// CHARACTER BOX ///////////////////////////////////*/

.character_menu{
    position: relative;
    margin-right: 180px;
    background: radial-gradient(circle at -180px 0px ,#0053ad 100px,#001b85 350px,#000223);
    border: 5px solid;
    border-radius: 15px;
    box-sizing: border-box;
    border-color: white;
    width: 800px;
    height: 630px;
    animation-name: movingLeft;
	animation-duration: 0.8s;
	animation-timing-function: ease;	
}

#firstCharacter{
	position: relative;
	margin: 23px 0px 0px 15px;
}

.photoContainer{
	display: inline-block;	
	position: relative;
	width: 187.5px; 
	height: 145px;
    margin-right: 25px;
	overflow: hidden;
}

.photo{
	display: inline-block;	
	width: 150px; 
	height: 155px;
}

.statsTable{
	display: inline-block;
	position: relative;
	margin: 20px 0px 0px 15px;
	border-spacing: 0px 0px;
	line-height: 30px;
	border-collapse: collapse;
    vertical-align: top; 
}

.artistName{
	font-size: 32px;
    color: white;	
}

.level_stats{
    font-size: 32px;
    color:cyan;
    width: 50px;
    text-align: left;
}

.popularity_stats{
    font-size: 29px;
    color: white;
    text-align: left;
}

/*/////////////////// HP STATS ///////////////////////////////////*/

.hp_stats{
    font-size: 32px;
    color:cyan;
}

.hp_min{
    text-align: right;
    font-size: 29px;
	width: 80px;
	letter-spacing: 0.8px;
}

.hp_max{
    text-align: right;
    font-size: 29px;
	width: 60px;
	letter-spacing: 0.8px;
}

.hp_bar{
    position:absolute;
	margin-left: 50px;
    width: 145px;
	height: 3px;
	background: linear-gradient(90deg,rgb(46, 137, 255) 60%,rgb(217, 226, 222));
    z-index: 2;
}

.hp_bar_empty{
    position:absolute;
	margin-left: 50px;
	height: 3px;
	width: 145px;
	background: rgb(53, 2, 2);
	z-index: 1;
}

/*/////////////////// MP STATS ///////////////////////////////////*/

.mp_stats{
    font-size: 32px;
    color:cyan;
}

.mp_min{
    text-align: right;
    font-size: 29px;
	width: 80px;
	letter-spacing: 0.8px;
}

.mp_max{
    text-align: right;
    font-size: 29px;
	width: 60px;
	letter-spacing: 0.8px;
}

.mp_bar{
	position:absolute;
	margin-left: 50px;
    width: 145px;
	height: 3px;
	background: linear-gradient(90deg,rgb(20, 226, 123) 60%,rgb(217, 226, 222));
    z-index: 2;
}

.mp_bar_empty{
    position:absolute;
	margin-left: 50px;
	height: 3px;
	width: 145px;
	background: rgb(53, 2, 2);
	z-index: 1;
}

/*/////////////////// NEXT LEVEL BAR ///////////////////////////////////*/

.next_level_text{
    font-size: 29px;
    top: 0px;
}

.levels_table{
    display: inline-block;
	position: absolute;
	margin: 50px 0px 0px 32px;
	border-spacing: 0px 0px;
	line-height: 28px;
	border-collapse: collapse;
}

.next_level_bar{
	position:absolute;
	margin: 3px 0px 0px 23px;
	height: 13px;
    width: 180px;
	background: linear-gradient(180deg,rgb(194, 130, 130) 20%,rgb(255, 255, 255) 40%,rgb(255, 170, 170) 60%, rgb(255, 170, 170) 100%);
    z-index: 2;
}

.next_level_bar_empty{
	position:absolute;
	margin-left: 20px;
	height: 13px;
	width: 180px;
	border: 3px solid;
	background: linear-gradient(180deg,rgb(46, 46, 46) 20%,rgb(116, 116, 116) 40%,rgb(116, 116, 116) 100%);
	z-index: 1;
}

/*/////////////////// LIMIT LEVEL BAR ///////////////////////////////////*/

.limit_level_text{
    font-size: 29px;
    top: 40px;

}

.limit_level_bar{
    position:absolute;
	margin: 3px 0px 0px 23px;
	height: 13px;
    width: 180px;
	background: linear-gradient(180deg,rgb(158, 112, 138) 20%,rgb(255, 255, 255) 40%,rgb(229, 164, 201) 60%, rgb(229, 164, 201) 100%);
    z-index: 2;
}

.limit_level_bar_empty{
	position:absolute;
	margin-left: 20px;
	height: 13px;
	width: 180px;
	border: 3px solid;
	background: linear-gradient(180deg,rgb(46, 46, 46) 20%,rgb(116, 116, 116) 40%,rgb(116, 116, 116) 100%);
	z-index: 1;
}

/*/////////////////// OPTION MENU BOX ///////////////////////////////////*/

#aside{
	position: absolute;
    margin-left: 545px;
    top: 75px;
	z-index: 3;
}

#select_menu{
	position: absolute;
    padding: 10px 0px 10px 40px;
	width: 230px;
	list-style: none;
	background: radial-gradient(circle at -180px 0px,#0053ad 100px,#001b85 350px,#000223);
	border: 5px solid;
	border-radius: 15px;
	box-sizing: border-box;   
    font-family: FinalFantasy_pixel;
    font-size: 29px;
    color: white;
    animation-name: movingUp;
	animation-duration: 0.8s;
	animation-timing-function: ease;		
}

/*/////////////////// OPTION MENU SELECT ARROW ///////////////////////////////////*/

.select_arrow {
    width: 58px; 
    height: auto;
    margin-right: 10px;
	margin-top: 9px;
    position: absolute;
    left: -70px; /* Position it to the left of the text */
    top: 50%; 
    transform: translateY(-50%); 
    display: none;
}

#select_menu li.active .select_arrow {
    display: inline; /* Show arrow when active */
}

#select_menu li {
    position: relative; /* Required for the absolute positioning of the arrow */
}

#select_menu li:hover .select_arrow {
    display: inline; /* Always show arrow on hover */
}

#select_menu li.active .select_arrow {
    display: inline; /* Arrow stays visible for the active item */
}

/*/////////////////// OPTION MENU ARROW SHADOW ///////////////////////////////////*/

.select_arrow_shadow {
    width: 58px; 
    height: 12px;
	opacity: 0.5;
	filter: brightness(0%);
    margin-right: 8px;
	margin-top: 32px;
    position: absolute;
    left: -70px;
    top: 50%; 
    transform: translateY(-50%); 
    display: none;
}

#select_menu li.active .select_arrow_shadow {
    display: inline; 
}

#select_menu li:hover .select_arrow_shadow {
    display: inline; 
}

#select_menu li.active .select_arrow_shadow {
    display: inline; 
}

/*/////////////////// BOTTOM BOXES OF MENU ///////////////////////////////////*/

.current_time{
    position:absolute;
    list-style: none;
    font-size: 32px; 
	margin: 582px 0px 0px 0px;
	width: 240px;
	height: 100px;
    background: radial-gradient(circle at -40px -290px,#0053ad 100px,#001b85 350px,#000223);
	border: 5px solid;
    border-radius: 15px;
    box-sizing: border-box;
	text-align: left;
	padding-left: 10px;
	padding-top: 10px;
    animation-name: movingRight;
	animation-duration: 0.8s;
	animation-timing-function: ease;
}

.cur_page{
    position:absolute;
    font-size: 32px;
	margin: 670px 0px 0px 580px;
	width: 450px;
	height: 75px;
	padding: 15px 0px 0px 20px;
    background: radial-gradient(circle at 60px -280px,#0053ad 100px,#001b85 350px,#000223);
    box-sizing: border-box;
    border: 5px solid;
    border-radius: 15px;
    animation-name: movingDown;
	animation-duration: 0.8s;
	animation-timing-function: ease;
}


/*/////////////////// ANIMATIONS ///////////////////////////////////*/

@keyframes movingUp{
	0%{
	  transform: translate(0px,4000px);
	}

	100%{
	  transform: translate(0px,0px);
	}
}

@keyframes movingDown{
    0%{
        transform: translate(0px, -6000px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}

@keyframes movingLeft{
    0%{
        transform: translate(18000px, 0px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}

@keyframes movingRight{
    0%{
        transform: translate(-18000px, 0px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}