@font-face{
    font-family: "FinalFantasy_logo";
    src: url('/static/resources/OPTIENgeEtienne.otf') format("truetype");
}

@font-face{
    font-family: "FinalFantasy_pixel";
    src: url('/static/resources/Reactor7.otf') format("truetype");
}
    
body{
    font-family: "FinalFantasy_logo";
    background-color: black;
}

.front_page_text{
    font-size: 150px;
    color: black;
    text-shadow: 
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.overlay {
    font-family: FinalFantasy_pixel;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    opacity: 1;
    z-index: 1000;
}

.hidden {
    display: none;
}

.main_menu_background_image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 740px;
    height: 500px; 
    background-image: url("../resources/final_fantasy_start_screen.png");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    opacity: 0; /* Start hidden */
    transition: opacity 3s ease; /* Fade-in effect */
}

.visible {
    opacity: 1; /* Show main menu */
}

/* Hidden arrow visibility */
.hidden_arrow {
    visibility: hidden;
}

/* Full black screen style */
.black_screen {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 999; /* Ensure it covers everything */
}

.new_game_button{
    font-family: FinalFantasy_pixel;
    font-size: 30px;
    color: white;
    background:none;
    border:none;
    position: relative;
    left: 300px; 
    top: 160px;
}

.new_game_button:hover{
    cursor: pointer;
}

.hidden_arrow{
    position: absolute;
    left: 245px;
    top: 165px;
    height: 30px;
    visibility: hidden;
}

.select_menu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    margin-top: 15px;
    background: radial-gradient(circle at -180px 0px ,#0053ad 100px,#001b85 350px,#000223);
    border: 2px solid;
    border-radius: 15px;
    border-color: white;
    height: 500px;
    width: 300px;
}

.website_logo {
    text-align: center;
    margin-top: 100px; 
    margin-bottom: 20px; 
}

.button_container {
    text-align: center;
    margin-top: 5px;
}

.option_text{
    font-family: FinalFantasy_pixel;

}

.select_button{
    font-family: FinalFantasy_pixel;
    color: white;
    background:none;
    border:none;
    margin:0;
    padding:0;
    font-size: 20px;
}

.select_button:hover{
    cursor: pointer;
}

