<!DOCTYPE html>
<html>
    <head>
        <title>Main Page</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" />
    </head>

    <body>
        <div class="website_logo">
            <p class = "front_page_text">FINAL MUSIC FANTASY</p>
        </div>
        <div class="button_container">
            <form action="/" method = "POST"></form>
                <button type="submit" class="spotify_button">Log onto spotify</button> 
            </form>
        </div>
    </body>
</html>