<!DOCTYPE html>
<html>
    <head>
        <title>Main Page</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/menu.css') }}" />
    </head>

    <body>
        <div class="character_menu">
            <audio id="select_sound" src="{{ url_for('static',filename='resources/FF7CursorMove.mp3') }}"></audio>
            {% for artist in artists %}
            <article id="firstCharacter">
				<figure class = "photoContainer">
                    <img class="photo" src="{{ artist.image }}">
                </figure>
				<table class = "statsTable">
					<tr> 
                        <td COLSPAN="3" class ="artistName">{{ artist.name }}</td> 
                    </tr>
                    <tr> 
                        <td class="level_stats">LV</td> <td class="popularity_stats">{{artist.popularity}}</td> 
                    </tr>
                    <tr> 
                        <td class="hp_stats">HP <div class="hpBar"></div></td>
                        <td class="hp_min">500 /</td>
                        <td class="hp_max">500</td> 
                    </tr>    
                    <tr> 
                        <td class="mp_stats">MP <div class ="mpBar"></div></td> 
                        <td class ="mp_min">63 /</td>
						<td class ="mp_max">63</td>
                    </tr>    
				</table>
                <table class="levels_table">
                    <tr>
                        <td class="next_level_text">next level <div class="next_level_bar"></div></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="limit_level_text">Limit level &nbsp; 1 <div class="limit_level_bar"></div></td>
                    </tr>
                </table>

			</article>

            {% endfor %}
            
        </div>
        
        <aside id="aside">
			<ul id="select_menu">
                <li number="0">
                    <a href="{{ url_for('menu', page=next_page) }}">Next</a>
                </li>
				<li number="1">
                    <a href="{{ url_for('menu', page=previous_page) }}">Back</a>
                </li>
				<li number ="2">Long Term</li>
				<li number ="3">Medium Term</li>
				<li number ="4">Short Term</li>
				<li number ="5">Order</li>
				<li number ="6">Limit</li>
				<li number ="7">Config</li>
				<li number ="8" id = "phs"><br></li>
				<li number ="9" id = "save">Save</li>
				<li number ="10">Quit</li>
            </ul>

            <ul class="current_time">
                <li>Time <span id ="active_time">0<txt id = "colon">:</txt>00:00</span></li>
                <li>Gil<span id ="gilAmount">1803</span></li>
            </ul>
        </aside>

        <footer class="cur_page"> Sector 7 Slums </footer>

        <script src="{{ url_for('static',filename='js/menu.js') }}"></script>
    </body>
</html>